[submodule "firmware/Middlewares/Third_Party/DSDL"]
	path = firmware/Middlewares/Third_Party/DSDL
	url = https://github.com/dronecan/DSDL
[submodule "firmware/Middlewares/Third_Party/dronecan_dsdlc"]
	path = firmware/Middlewares/Third_Party/dronecan_dsdlc
	url = https://github.com/DroneCAN/dronecan_dsdlc
[submodule "firmware/Middlewares/Third_Party/libcanard"]
	path = firmware/Middlewares/Third_Party/libcanard
	url = https://github.com/DroneCAN/libcanard
[submodule "BLDC-Motor-Driver"]
	path = BLDC-Motor-Driver
	url = https://github.com/alpi753/BLDC-Motor-Driver
[submodule "firmware_orig/Middlewares/Third_Party/libcanard"]
	path = firmware_orig/Middlewares/Third_Party/libcanard
	url = https://github.com/DroneCAN/libcanard
[submodule "firmware_orig/Middlewares/Third_Party/DSDL"]
	path = firmware_orig/Middlewares/Third_Party/DSDL
	url = https://github.com/DroneCAN/DSDL
[submodule "firmware_orig/Middlewares/Third_Party/dronecan_dsdlc"]
	path = firmware_orig/Middlewares/Third_Party/dronecan_dsdlc
	url = https://github.com/DroneCAN/dronecan_dsdlc